Host *
 	Protocol 2
 	GSSAPIAuthentication yes
 	GSSAPIDelegateCredentials no
	#SendEnv LANG LC_*
	SendEnv LANG=en_US.UTF-8
	#Value below in seconds.
	ServerAliveInterval 30
	#Value below is the number of times ServerAliveInterval is done per session.
	ServerAliveCountmax 1200
	#XAuthLocation /opt/X11/bin/xauth


Host jack.wks jack.wks.liquidweb.com
	PKCS11Provider /usr/local/lib/kr-pkcs11.so
	ProxyCommand /usr/local/bin/krssh %h %p
	IdentityFile ~/.ssh/id_kryptonite
	Hostname jack.wks.liquidweb.com
	User jack
	Port 22

# Added by Kryptonite
Host lol lol.deleteos.com
	PKCS11Provider /usr/local/lib/kr-pkcs11.so
	ProxyCommand /usr/local/bin/krssh %h %p
	IdentityFile ~/.ssh/id_kryptonite
	Hostname lol.deleteos.com
	User jack
	Port 22

Host supportdev supportdev.liquidweb.com
	PKCS11Provider /usr/local/lib/kr-pkcs11.so
	ProxyCommand /usr/local/bin/krssh %h %p
	IdentityFile ~/.ssh/id_kryptonite
	Hostname supportdev.liquidweb.com
	User jack
	Port 22

Host wiki wiki2 wiki2.hostbaitor.com
	PKCS11Provider /usr/local/lib/kr-pkcs11.so
	ProxyCommand /usr/local/bin/krssh %h %p
	IdentityFile ~/.ssh/id_kryptonite
	Hostname wiki2.hostbaitor.com
	User root
	Port 22

Host github github.com
	PKCS11Provider /usr/local/lib/kr-pkcs11.so
	ProxyCommand /usr/local/bin/krssh %h %p
	IdentityFile ~/.ssh/id_kryptonite
	Hostname github.com
	User git
	Port 22

Host ea4 ea4.hostbaitor.com
	PKCS11Provider /usr/local/lib/kr-pkcs11.so
	ProxyCommand /usr/local/bin/krssh %h %p
	IdentityFile ~/.ssh/id_kryptonite
	Hostname ea4.hostbaitor.com
	User root
	Port 22

Host objstor objstor.hostbaitor.com
	PKCS11Provider /usr/local/lib/kr-pkcs11.so
	ProxyCommand /usr/local/bin/krssh %h %p
	IdentityFile ~/.ssh/id_kryptonite
	Hostname objstor.hostbaitor.com
	User root
	Port 22
	
Host git.liquidweb.com
	Hostname git.liquidweb.com
	IdentityFile ~/.ssh/gitlab_rsa
	User git
	Port 22

## Added by Kryptonite
#Host supportdev.* jack.wks.* lol wiki wiki2 ea4 objstor rpmbuild .*hostbaitor.com .*deleteos.com .*github.com
#	PKCS11Provider /usr/local/lib/kr-pkcs11.so
#	ProxyCommand /usr/local/bin/krssh %h %p
#	IdentityFile ~/.ssh/id_kryptonite
#	# IdentityFile ~/.ssh/id_ed25519
#	# IdentityFile ~/.ssh/id_rsa
#	# IdentityFile ~/.ssh/id_ecdsa
#	# IdentityFile ~/.ssh/id_dsa

Host !.*hostbaitor.com !.*deleteos.com !wiki !lol !ea4 !supportdev.* *
 	User root
 	ControlPath ~/.ssh/.master-%r@%h:%p
 	ControlMaster auto
 	ControlPersist 15m
 	StrictHostKeyChecking no
