Host *
	#XAuthLocation /opt/X11/bin/xauth
	#SendEnv LANG LC_*
	SendEnv LANG=en_US.UTF-8
	#Value below in seconds.
	ServerAliveInterval 30
	#Value below is the number of times ServerAliveInterval is done per session.
	ServerAliveCountmax 1200

# Added by Kryptonite
Host jack.wks jack.wks.liquidweb.com lol lol.deleteos.com wiki wiki2 wiki2.hostbaitor.com git.liquidweb.com github github.com
	PKCS11Provider /usr/local/lib/kr-pkcs11.so
	ProxyCommand /usr/local/bin/krssh %h %p
	IdentityFile ~/.ssh/id_kryptonite
	IdentityFile ~/.ssh/id_ed25519
	IdentityFile ~/.ssh/id_rsa
	IdentityFile ~/.ssh/id_ecdsa
	IdentityFile ~/.ssh/id_dsa

Host *
	Port 22
	User root
	ControlPath ~/.ssh/.master-%r@%h:%p
	ControlMaster auto
	ControlPersist 1
	StrictHostKeyChecking no
